@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 228, 230;
  --background-end-rgb: 255, 192, 203;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Saphire', sans-serif;

  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}


@font-face {
  font-family: 'Saphire';
  src: url('/fonts/Saphire.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trial';
  src: url('/fonts/EffraVF_Trial_WghtItal.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overthink';
  src: url('/fonts/Overthink.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.saphire {
  font-family: 'Saphire', sans-serif;
}

.overthink {
  font-family: 'Overthink', sans-serif;
}

.trial {
  font-family: 'Trial', sans-serif;
}
